In [ ]:
dishes = {
    234: {'first element': 'test1'}, 
    235: {'name': 'tomato', 'calories': 18.2, 'serving_size_g': 100.0, 'sodium_mg': 4, 'sugar_g': 2.6, 'ID': 235}, 
    236: {'name': 'tomato', 'calories': 18.2, 'serving_size_g': 100.0, 'sodium_mg': 4, 'sugar_g': 2.6, 'ID': 236},
}

In [ ]:
test = 2